/** all frame report card */
.bonus-report-card-container {
  position: relative;
  width: 2480px;
  height: 3508px;

  .report-frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }

  .bonus-report-info-container {
    z-index: 25;
    .agent-profile-container {
      position: absolute;
      z-index: -1;
      width: 910px;
      height: 910px;
      top: 36.1%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;

      .agent-profile {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .bonus-month {
      position: absolute;
      font-family: "Allenoire_Free_Personal";
      top: 15%;
      transform: translate(-50%, -50%);
      z-index: inherit;
      color: #ffffff;
      font-size: 122px;
      left: 50%;
      width: 85.6rem;
      text-align: center;
      height: 8rem;
    }

    .bonus-level {
      position: absolute;
      top: 17%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: inherit;
      font-family: "Allenoire_Free_Personal";
      color: #ffffff;
      font-size: 122px;
      font-weight: normal;
      width: 90rem;
      height: 8rem;
      text-align: center;
      letter-spacing: 1px;
    }

    .agent-code {
      position: absolute;
      z-index: 10;
      top: 39.5%;
      right: 6.6%;
      transform: translate(-50%, -50%);
      font-size: 62px;
      font-family: "Allenoire_Free_Personal";
      width: 305px;
      height: 100px;
      text-align: center;
      color: #442e0e;
      font-weight: 400;
      letter-spacing: 1px;
      &.prefix-name {
        top: 36.7%;
        right: 11.4%;
        width: auto;
        height: auto;
        font-size: 141px;
        font-family: "Allenoire_Free_Personal";
      }
    }

    .agent-name {
      position: absolute;
      z-index: inherit;
      //   top: 51.6%;
      transform: translate(0, -50%);
      font-family: "Allenoire_Free_Personal";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92%;
      height: 180px;
      text-align: center;
      left: 4%;
      font-weight: normal;
      color: #ffffff;
      text-shadow: -4.474px 6.632px 5px #131212;
    }

    .award-amount {
      position: absolute;
      z-index: inherit;
      top: 57.3%;
      left: 25.2%;
      width: 77rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "masterpiece_voval";
      color: #231f20;
      letter-spacing: 5px;
      font-size: 130px;
    }

    .bonus-product-list-less-three {
      position: absolute;
      z-index: 12;
      top: 81%;
      left: 50%;
      transform: translate(-50%, -48%);
      width: 1950px;
      height: 1140px;
      font-family: "kanit_regular";
      color: #2c2929;
      font-weight: 400;
      font-size: 77px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      .product-info-row {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        .product-name {
          width: 100%;
          text-align: right;
        }
      }
    }

    .bonus-product-list-less-eight {
      position: absolute;
      z-index: 12;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -48%);
      text-align: center;
      width: 1950px;
      height: 1140px;
      font-family: "kanit_regular";
      color: #2c2929;
      font-weight: 400;
      font-size: 68px;
      line-height: 85px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      .product-info-row {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        .product-name {
          width: 100%;
          text-align: right;
        }
      }
    }

    .bonus-product-list-more-eight {
      position: absolute;
      z-index: 12;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -48%);
      text-align: center;
      width: 1950px;
      height: 1140px;
      font-family: "kanit_regular";
      color: #2c2929;
      font-weight: 500;
      font-size: 57px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      .product-info-row {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 55%;
        .product-name {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}

/** product report card */
.product_report_card_container {
  position: relative;
  width: 2100px;
  height: 2971px;
  .report_frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }

  .agent_profile {
    position: absolute;
    width: 666px;
    height: 861px;
    top: 23.3%;
    left: 34.3%;
    z-index: -1;
    object-fit: cover;
  }
  .bonus_report_info_container {
    z-index: 25;

    .bonus_month {
      position: absolute;
      top: 13%;
      left: 21%;
      font-size: 78px;
      z-index: inherit;
      font-family: "poppins_regular";
      color: #0559ad;
      width: 1200px;
      height: 120px;
      display: flex;
      justify-content: center;
      font-weight: 500;
      text-shadow: -4px -4px 0 rgba(255, 255, 255, 0.49),
        0 -4px 0 rgba(255, 255, 255, 0.49), 4px -4px 0 rgba(255, 255, 255, 0.49),
        4px 0 0 rgba(255, 255, 255, 0.49), 4px 4px 0 rgba(255, 255, 255, 0.49),
        0 4px 0 rgba(255, 255, 255, 0.49), -4px 4px 0 rgba(255, 255, 255, 0.49),
        -4px 0 0 rgba(255, 255, 255, 0.49);
    }

    .bonus_level {
      position: absolute;
      top: 15.5%;
      left: 14.4%;
      width: 1500px;
      height: 120px;
      display: flex;
      justify-content: center;
      z-index: inherit;
      font-size: 78px;
      font-family: "poppins_regular";
      color: #0559ad;
      font-weight: lighter;
      text-shadow: -4px -4px 0 rgba(255, 255, 255, 0.49),
        0 -4px 0 rgba(255, 255, 255, 0.49), 4px -4px 0 rgba(255, 255, 255, 0.49),
        4px 0 0 rgba(255, 255, 255, 0.49), 4px 4px 0 rgba(255, 255, 255, 0.49),
        0 4px 0 rgba(255, 255, 255, 0.49), -4px 4px 0 rgba(255, 255, 255, 0.49),
        -4px 0 0 rgba(255, 255, 255, 0.49);
    }

    .agent_name {
      position: absolute;
      z-index: inherit;
      // top: 53%;
      left: auto;
      font-family: "rosamby_regular";
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      color: #0559ad;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
      // -webkit-text-stroke: 1px #fff;
      // font-weight: normal;
      // text-shadow: -5px -5px 0 #fff, 0 -5px 0 #fff, 5px -5px 0 #fff,
      //   5px 0 0 #fff, 5px 5px 0 #fff, 0 5px 0 #fff, -5px 5px 0 #fff,
      //   -5px 0 0 #fff;
      // text-shadow: -10px -5px 0 #fff, -1px -5px 0 #fff, -10px 2px 0 #fff,
      //   10px 0px 0 #fff, 4px 0px 0 #fff, 1px 5px 0 #fff, 10px -2px 0 #fff,
      //   -7px -2px 0 #fff;
      // text-shadow: -10px 0px 0 #fff, 0px -5px 0 #fff, -10px 5px 0 #fff,
      //   10px 0px 0 #fff, -5px -5px 0 #fff, 5px 5px 0 #fff, 5px -5px 0 #fff,
      //   -5px 5px 0 #fff;
    }

    .agent_code {
      position: absolute;
      z-index: inherit;
      top: 59.3%;
      left: 36%;
      font-size: 112px;
      font-family: "rosamby_regular";
      text-align: center;
      color: #0d529b;
      text-shadow: -12px -12px 0 #fff, 0 -12px 0 #fff, 12px -12px 0 #fff,
        12px 0 0 #fff, 12px 12px 0 #fff, 0 12px 0 #fff, -12px 12px 0 #fff,
        -12px 0 0 #fff;
    }

    .bonus_qty_container {
      position: absolute;
      z-index: inherit;
      bottom: 14.6%;
      left: 41%;
      font-family: "rosamby_regular";
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 380px;
      height: 380px;
      color: #ffffff;
      line-height: 96px;
      text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32);
      .bonus_month_quantity {
        font-size: 125px;
        margin: 0;
        font-weight: 100;
      }
      .bonus_quantity {
        font-size: 69px;
        margin: 0;
        font-weight: 100;
      }
    }

    .award_amount {
      position: absolute;
      z-index: inherit;
      bottom: 3%;
      right: 17.3%;
      font-size: 105px;
      font-family: "SM01_watokelay_regular";
      // color: #181818;
      color: #000;
      font-weight: 400;
    }
    .award_currency {
      position: absolute;
      z-index: inherit;
      font-size: 105px;
      font-family: "SM01_watokelay_regular";
      text-indent: 7px;
      letter-spacing: -5px;
      // color: #181818;
      color: #000;
      font-weight: 400;
    }

    .money_image {
      position: absolute;
      z-index: inherit;
      bottom: 10.9%;
      right: 14%;
      width: 370px;
      height: 180px;
    }
  }

  .foc_img_container {
    position: absolute;
    z-index: 25;
    left: 7.6%;
    bottom: 9%;
    width: 300px;
    height: 300px;
    // font-family: "Aleo_Medium";
    // font-family: "rosamby_regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.snail_wish {
      left: 7%;
      bottom: 10.5%;
    }
  }

  .foc_img {
    width: 500px;
    height: 500px;
  }

  .foc_amount_image_container {
    position: absolute;
    z-index: 25;
    left: 10%;
    bottom: 0px;
    width: 250px;
  }

  .foc_name {
    position: absolute;
    z-index: inherit;
    left: 27%;
    bottom: 30%;
    font-size: 56px;
    font-family: "rosamby_regular";
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .foc_amount {
    position: absolute;
    width: 110px;
    height: 80px;
    top: 33%;
    font-size: 38px;
    font-family: "rosamby_regular";
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
}
