.bonus-report-card-container {
  position: relative;
  width: 2480px;
  height: 3508px;

  .report-frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }

  .agent-profile-container {
    position: absolute;
    width: 1120px;
    height: 1450px;
    top: 34.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    .agent-profile {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .bonus-report-info-container {
    z-index: 25;

    .bonus-month {
      font-family: "Athene";
      position: absolute;
      top: 9%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 85px;
      text-transform: uppercase;
      z-index: inherit;
      /* color: white; */
      font-weight: bold;
      font-family: "BMKing001-Bold";
      color: #000000;
    }

    .bonus-level {
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: inherit;
      font-size: 90px;
      color: white;
      font-family: "BMKing001-Bold";
      font-weight: 400;
      text-shadow: 2px 4px 105px rgba(15, 90, 217, 0.2);
      margin: 0;
    }

    .agent-name {
      position: absolute;
      z-index: inherit;
      top: 60%;
      font-size: 140px;
      transform: translate(0, -50%);
      font-family: "RowdiesRegular";
      // font-family: 'BrandBunR';
      width: 90%;
      text-align: center;
      left: 5%;
      margin: 30px auto;
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color: black;
    }

    .agent-code {
      position: absolute;
      z-index: inherit;
      top: 35%;
      left: 25%;
      transform: translate(-50%, -50%);
      font-size: 70px;
      font-family: "fradm";
      &.prefix-name {
        top: 32%;
        left: 25%;
        font-size: 75px;
      }
    }
  }

  .award-amount {
    text-align: center;
    position: absolute;
    z-index: inherit;
    top: 66%;
    left: 10%;
    transform: translate(0%, -50%);
    font-size: 90px;
    width: 80%;
    font-family: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "fradmcn";
    .amount-name {
      margin-top: 45px;
    }

    .amount-value {
      font-size: 90px;
      font-weight: bold;
    }
  }

  .bonus-product-list {
    position: absolute;
    z-index: 12;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    width: 60%;
    justify-content: center;
    align-items: center;
    /* font-family: ; */
    font-family: "Geogria";
    .product-info-row {
      font-size: 45px;
      width: 100%;
      display: grid;
      grid-template-columns: 45% 55%;
      .product-name {
        width: 100%;
        text-align: right;
      }
    }
  }
}

/** product report card */
.product_report_card_container {
  position: relative;
  width: 2480px;
  height: 3508px;
  .report_frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }
  .thai_flag_img {
    position: absolute;
    width: 1289px;
    height: 300px;
    left: 48%;
    top: 0%;
  }
  .agent_profile {
    position: absolute;
    width: 1129px;
    height: 1453px;
    // top: 12%;
    // left: 27.9%;
    top: 14.1%;
    left: 27.1%;
    z-index: -1;
    object-fit: cover;
  }
  .bonus_report_info_container {
    z-index: 25;

    .bonus_month {
      position: absolute;
      top: 278px;
      left: 42.3%;
      font-size: 100px;
      text-transform: uppercase;
      z-index: inherit;
      font-family: "U-Moe-FONT";
      &.tooth_paste {
        top: 350px;
        left: 8%;
      }
    }

    .bonus_level {
      position: absolute;
      top: 336px;
      left: 25%;
      width: 1240px;
      display: inline-flex;
      height: 180px;
      justify-content: center;
      line-height: 200px;
      z-index: inherit;
      font-size: 100px;
      font-family: "BMKing001-Bold";
    }

    .agent_name {
      position: absolute;
      z-index: inherit;
      top: 61.4%;
      left: 3%;
      font-family: "SunnyspellsRegular-MV9ze";
      text-align: center;
      align-items: center;
      width: 100%;
      font-weight: normal;
      text-shadow: -6px -6px 0 #fff, 0 -6px 0 #fff, 6px -6px 0 #fff,
        6px 0 0 #fff, 6px 6px 0 #fff, 0 6px 0 #fff, -6px 6px 0 #fff,
        -6px 0 0 #fff;
    }

    .agent_code {
      position: absolute;
      z-index: inherit;
      top: 37.7%;
      left: 18.7%;
      font-size: 119px;
      font-family: "SunnyspellsRegular-MV9ze";
      text-align: center;
    }
    .cash_back_img {
      position: absolute;
      z-index: inherit;
      left: 63.7%;
      top: 67.8%;
      width: 793px;
      height: 358px;
    }

    .bonus_qty_container {
      position: absolute;
      z-index: inherit;
      bottom: 199px;
      left: 39%;
      font-family: "AvantGardeITCbyBT-Demi";
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 336px;
      border-radius: 84px;
      margin: 0;
      text-shadow: 5px 10px 10px rgba(13, 15, 19, 0.2);
      &.toothpaste {
        left: 37.9%;
      }
      .bonus_month_quantity {
        // position: absolute;
        font-size: 110px;
        font-style: italic;
        font-family: "AvantGardeITCbyBT-Demi";
        text-transform: uppercase;
        line-height: 85px;
        margin: 0;
        transform: rotate(6deg);
        font-weight: bold;
      }

      .bonus_quantity {
        font-family: "AvantGardeITCbyBT-Demi";
        font-size: 68px;
        left: 45px;
        margin: 0;
        font-style: italic;
        transform: rotate(9deg);
      }
    }

    .award_amount {
      position: absolute;
      z-index: inherit;
      top: 78.4%;
      left: 62.4%;
      font-size: 100px;
      width: 768px;
      text-align: center;
      font-family: "Bebas-Regular";
    }
    .award_currency {
      position: absolute;
      z-index: inherit;
      font-size: 100px;
      font-family: "Bebas-Regular";
      margin-left: 3px;
      text-indent: 12px;
    }

    .money_image {
      position: absolute;
      z-index: inherit;
      bottom: 43px;
      right: 4.5%;
      width: 590px;
      height: 520px;
    }
  }

  .foc_amount_image_container {
    background-color: #000000;
    position: absolute;
    z-index: 25;
    left: 10%;
    bottom: 0px;
    width: 250px;
  }

  .foc_amount_container {
    position: absolute;
    z-index: inherit;
    left: 37%;
    bottom: 34.4%;
    width: 170px;
    line-height: 39px;
    .foc_name {
      font-size: 52px;
      margin: 0;
      // font-weight: 400;
      font-style: italic;
    }
    .foc_amount {
      font-size: 29px;
      margin: 0;
      font-style: italic;
    }
  }
}

.foc_img_container {
  position: absolute;
  z-index: 25;
  left: 21%;
  bottom: 2.3%;
  width: 270px;
  font-family: "AvantGardeITCbyBT-Demi";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
  &.supplement {
    left: 20.5%;
    bottom: 8.5%;
    width: 270px;
  }
}
