/** all frame report card */
.bonus-report-card-container {
  position: relative;
  width: 2480px;
  height: 3508px;

  .report-frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }

  .bonus-report-info-container {
    z-index: 25;
    .agent-profile-container {
      position: absolute;
      z-index: -1;
      width: 758px;
      height: 1065px;
      top: 34.9%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;

      .agent-profile {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .bonus-month {
      position: absolute;
      top: 12%;
      //   left: 50%;
      transform: translate(-50%, -50%);
      z-index: inherit;
      font-family: "MontserratRegular";
      color: #3a3a3c;
      font-size: 67px;
      font-weight: bold;
      left: 50.1%;
      // &.months {
      //   left: 44.2%;
      // }

      // &.year {
      //   left: 53%;
      // }
    }

    .bonus-level {
      position: absolute;
      top: 13.8%;
      left: 51%;
      transform: translate(-50%, -50%);
      z-index: inherit;
      font-size: 70px;
      font-family: "MontserratRegular";
      font-weight: bold;
      width: 90rem;
      height: 8rem;
      text-align: center;
      color: #3a3a3c;
    }

    .agent-code {
      position: absolute;
      z-index: 10;
      top: 39%;
      left: 22.1%;
      transform: translate(-50%, -50%);
      font-size: 85px;
      font-family: "Bodoni";
      width: 350px;
      height: 100px;
      text-align: center;
      color: #ffffff;
      &.prefix-name {
        top: 35.6%;
        left: 22.6%;
        width: auto;
        height: auto;
        font-size: 120px;
        font-family: "Berlin_sans";
      }
    }

    .agent-name {
      position: absolute;
      z-index: inherit;
      top: 53.7%;
      transform: translate(0, -50%);
      font-family: "Berlin_sans";
      width: 90%;
      height: 240px;
      text-align: center;
      left: 6%;
      //   font-weight: 500;
      color: #ea54a3;
      text-shadow: -6px -6px 0 #fff, 0 -6px 0 #fff, 6px -6px 0 #fff,
        6px 0 0 #fff, 6px 6px 0 #fff, 0 6px 0 #fff, -6px 6px 0 #fff,
        -6px 0 0 #fff, 0 3px 16px #000000;
    }

    .award-amount {
      position: absolute;
      z-index: inherit;
      top: 57.6%;
      left: 26.4%;
      font-size: 130px;
      width: 73rem;
      height: 12rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "w35art-house";
      //   font-weight: 500;
      color: #ea54a3;
      .amount-name {
      }
      .amount-value {
        font-size: 130px;
        // font-weight: bold;
        // letter-spacing: 0.5rem;
      }
    }

    .bonus-product-list {
      position: absolute;
      z-index: 12;
      top: 82.8%;
      left: 49%;
      transform: translate(-50%, -48%);
      display: flex;
      flex-direction: column;
      //   align-items: center;
      justify-content: center;
      row-gap: 52px;
      width: 1800px;
      height: 1170px;
      font-family: "MontserratRegular";
      color: #000c35;
      .product-info-row {
        width: 100%;
        font-size: 50px;
        display: grid;
        grid-template-columns: 45% 55%;
        .product-name {
          width: 100%;
          text-align: right;
        }
      }
    }

    .bonus-product-list-less-seven {
      position: absolute;
      z-index: 12;
      top: 84.8%;
      left: 49%;
      transform: translate(-50%, -48%);
      display: flex;
      flex-direction: column;
      //   align-items: center;
      // justify-content: center;
      row-gap: 40px;
      width: 1800px;
      height: 1170px;
      font-family: "MontserratRegular";
      color: #000c35;
      .product-info-row {
        width: 100%;
        font-size: 50px;
        display: grid;
        grid-template-columns: 45% 55%;
        .product-name {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}

/** product report card */
.product_report_card_container {
  position: relative;
  width: 2480px;
  height: 3508px;
  .report_frame {
    width: "100%";
    height: "100%";
    z-index: 10;
    position: absolute;
  }
  .thai_flag_img {
    position: absolute;
    // background-color: #000000;
    width: 1289px;
    height: 300px;
    left: 48%;
    top: 0%;
  }
  .agent_profile {
    position: absolute;
    width: 1129px;
    height: 1453px;
    top: 14.4%;
    left: 27.2%;
    z-index: -1;
    // transform: translate(-50%, -50%);
    // z-index: 12;
    // transform: rotate(7.7deg);
    object-fit: cover;
  }
  .bonus_report_info_container {
    z-index: 25;

    .bonus_month {
      position: absolute;
      top: 278px;
      left: 42.3%;
      font-size: 100px;
      text-transform: uppercase;
      z-index: inherit;
      font-family: "UMoeFont";
      &.tooth_paste {
        top: 350px;
        left: 8%;
      }
    }

    .bonus_level {
      position: absolute;
      // background-color: #9b7c7c;
      top: 279px;
      left: 25%;
      width: 1240px;
      display: inline-flex;
      height: 180px;
      justify-content: center;
      // align-items: center;
      // text-align: center;
      line-height: 200px;
      z-index: inherit;
      font-size: 100px;
      font-family: "BMKing001-Bold";
      // text-shadow: 2px 4px 105px rgba(15, 90, 217, 0.2);
      /* background: pink; */
    }

    .agent_name {
      position: absolute;
      z-index: inherit;
      top: 58.4%;
      left: 3%;
      font-family: "Sunny";
      text-align: center;
      align-items: center;
      width: 100%;
      font-weight: normal;
      text-shadow: -6px -6px 0 #fff, 0 -6px 0 #fff, 6px -6px 0 #fff,
        6px 0 0 #fff, 6px 6px 0 #fff, 0 6px 0 #fff, -6px 6px 0 #fff,
        -6px 0 0 #fff;
    }

    .agent_code {
      position: absolute;
      z-index: inherit;
      top: 37.7%;
      left: 18.7%;
      font-size: 119px;
      font-family: "Sunnyspells";
      text-align: center;
      /* font-weight: bold; */
      // -webkit-text-stroke: 2px #000000;
    }
    .cash_back_img {
      position: absolute;
      z-index: inherit;
      left: 63.7%;
      top: 67.8%;
      width: 793px;
      height: 358px;
    }

    .bonus_qty_container {
      position: absolute;
      z-index: inherit;
      bottom: 199px;
      left: 39%;
      font-family: "AvantGardeITCbyBT";
      // font-weight: 900;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 450px;
      height: 336px;
      border-radius: 84px;
      margin: 0;
      text-shadow: 5px 10px 10px rgba(13, 15, 19, 0.2);
      // background-color: #000000;
      &.toothpaste {
        left: 37.9%;
      }
      .bonus_month_quantity {
        // position: absolute;
        font-size: 110px;
        font-style: italic;
        font-family: "AvantGardeITCbyBT";
        text-transform: uppercase;
        line-height: 85px;
        margin: 0;
        transform: rotate(6deg);
        // background-color: #c5c5c5;
        font-weight: bold;
      }

      .bonus_quantity {
        // position: absolute;
        font-family: "AvantGardeITCbyBT";
        font-size: 68px;
        left: 45px;
        margin: 0;
        font-style: italic;
        transform: rotate(9deg);
        // background-color: #fff;
      }
    }

    .award_amount {
      position: absolute;
      z-index: inherit;
      top: 75.9%;
      left: 62.4%;
      font-size: 100px;
      width: 768px;
      text-align: center;
      font-family: "Bebas";
    }
    .award_currency {
      position: absolute;
      z-index: inherit;
      // bottom: 340px;
      font-size: 100px;
      font-family: "Bebas";
      margin-left: 3px;
      text-indent: 12px;
    }

    .money_image {
      position: absolute;
      z-index: inherit;
      bottom: 43px;
      right: 4.5%;
      width: 590px;
      height: 520px;
      // background-color: aquamarine;
    }
  }

  .foc_amount_image_container {
    background-color: #000000;
    position: absolute;
    z-index: 25;
    left: 10%;
    bottom: 0px;
    width: 250px;
  }

  .foc_amount_container {
    position: absolute;
    z-index: inherit;
    left: 39%;
    bottom: 34.4%;
    width: 170px;
    line-height: 42px;
    .foc_name {
      font-size: 52px;
      margin: 0;
      // font-weight: 400;
      font-style: italic;
    }
    .foc_amount {
      font-size: 25px;
      margin: 0;
      font-style: italic;
    }
  }
}

.foc_img_container {
  position: absolute;
  z-index: 25;
  left: 21%;
  bottom: 2.3%;
  width: 270px;
  font-family: "AvantGardeITCbyBT";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
  &.supplement {
    left: 20.5%;
    bottom: 8.3%;
    width: 270px;
  }
}
